<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- 引用公共资源 -->
<head th:fragment="common_resource">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>点万家</title>
    <link  th:href="@{/images/favicon.ico}" rel="icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!--No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">

    <meta name="format-detection" content="telephone = no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- 指定标题 -->
    <meta name="apple-mobile-web-app-title" content="点万家">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="#ff9230">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>


<!-- 引用公共头部s -->
<header th:fragment="common_header">
    <div id="common_header" class="header_box">
        <a th:href="@{/}" class="jump_url">首页</a>
        <a th:href="@{product}" class="jump_url">产品简介</a>
        <a th:href="@{join}" class="jump_url">加入我们</a>
        <a th:href="@{about}" class="jump_url">关于我们</a>
        <a th:href="@{contact}" class="jump_url">联系我们</a>
    </div>
</header>

<!-- 尾部 s -->
<footer th:fragment="common_code">
    <div class="footer_box">
    </div>
</footer>


<!--尾部 e 版权-->
<div th:fragment="common_copyright">
    <p class="footer_p">Copyright © 2019All Rights Reserved. 粤ICP备19080211号-1 翔域（广州）网络科技有限公司</p>
</div>

<script th:fragment="common_script" type="application/javascript">
    function linkClick(number) {
        var links =document.getElementById("common_header").getElementsByTagName("a");
        links[number].className="jump_url activi_a";
    }
</script>
</body>
</html>