
.about_wrap{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    padding: 63px 0;
}
.left_box{
    float: left;
    width: 227px;
}
.left_box p{
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    background-size: 20px 20px !important;
    cursor: pointer;
    color: #666;
}
.left_box span{
    padding-left: 58px;
    display: block;
}
.right_box{
    float: right;
    width: 727px;
}
.right_txt_title{
    font-size: 24px;
    line-height: 2.5;
    position: relative;
}
.right_txt_title::before, .right_txt_title::after{
    content: '';
    width: 59px;
    height: 6px;
    background: #5B88FC;
    position: absolute;
    left: 0;
    bottom: 0;
}
.right_txt_title::after{
    background: #EEEEEE;
    left: 59px;
}
.conment_txt{
    line-height: 38px;
    margin-top: 10px;
}
.conment_img{
    display: block;
    margin: 0 auto;
}