.our_product_wrap{
    width:100%;
    height: 442px;
    background: #f6f6f6;
}
.our_product_box{
    width: 990px;
    margin: 0 auto;
}
.our_product_img{
    display: block;
    width: 100%;
    margin-top: 66px;
}
.main_product_wrap{
    width:100%;
    height: 642px;
}
.main_product_box{
    width: 555px;
    height: 639px;
    padding-top: 3px;
    margin: 0 auto;
    padding-left: 435px;
    background: url(icon_12.png) left bottom no-repeat;
}
.main_dt{
    margin-bottom: 44px;
    padding-left: 72px;
}
.c3sm{
    margin-top: 37px;
    background: url(../images/icon_03.png) left center no-repeat;
}
.aml{background: url(../images/icon_06.png) left center no-repeat;}
.xjd{background: url(../images/icon_08.png) left center no-repeat;}
.wesh{background: url(../images/icon_10.png) left center no-repeat;}
.main_dt p{ line-height: 1.5;}
.main_dt_title{
    margin-bottom: 12px;
}
.main_dt_conment{
    font-size: 16px;
    color: #666;
}