body,
ul,
li,
p,
h1,
h2,
h3,
h4,
dl,
dd,
form,
input,
textarea,
select {
  padding: 0;
  margin: 0;
}
body {
  font-size: 18px;
  font-family: "微软雅黑";
  line-height: 1;
  color: #222;
  background-color: #ffffff;
}
ul,
li {
  list-style: none;
}
i {
  font-style: normal;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
}
a:hover {
  text-decoration: none;
}
.clearfix:before,.clearfix:after{ 
    content:""; 
    display:table; 
} 
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}


/* 头部 */
header{
    width: 100%;
    height: 100px;
}
.header_box{
    width: 960px;
    margin: 0 auto;
    text-align: right;
    background: url(../images/logo.png) left center no-repeat;
    background-size: 150px 50px;
}
.jump_url{
    display: inline-block;
    width: 80px;
    height: 98px;
    line-height: 98px;
    margin: 0 36px;
    text-align: center;
}
.activi_a{
    color:  #ffc800;
    border-bottom: 2px solid #ffc800;
}
/* banner */
.banner_box{
  width: 100%;
}
.banner_box img{ width: 100%; display: block;}
.our_title{
  padding: 62px 0 93px;
  line-height: 1.5;
  font-size: 24px;
}
.wmdcp{
    background: url(../images/icon_06.png) left bottom no-repeat;
    margin-top: 50px;
}
.zdsp{
    background: url(../images/icon_07.png) 90px bottom no-repeat;
    padding-left: 90px;
    /*margin-top: 30px;*/
    background-size: 400px 75px;
}
.xzsx{background: url(../images/xz_16.png) left bottom no-repeat;}

/* 尾部 */
footer{
  clear: both;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  height: 600px;
  background: #ffffff url(../images/footrt_12.png) right center no-repeat;
  background-size: 100%;
}
.footer_box{
  width: 980px;
  height: 500px;
  margin: 0 auto;
}
/*.QR_code{*/
  /*height: 123px;*/
  /*line-height: 123px;*/
  /*margin-top: 30px;*/
  /*padding-left: 130px;*/
  /*font-size: 16px;*/
  /*background: url(../images/ewm.jpg) left center no-repeat;*/
  /*background-size: 123px 123px;*/
/*}*/
.footer_p{
  height: 102px;
  line-height: 102px;
  text-align: center;
  color: #666666;
}