<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_resource :: common_resource">
</head>
    <link rel="stylesheet" th:href="@{/css/about.css}">
<body>
<!-- 头部 s -->
<header th:replace="common/common_resource :: common_header"></header>
<!-- 头部 e -->
<div class="banner_box">
    <img th:src="@{/images/about_banner.png}">
</div>
<div class="about_wrap">
    <div class="left_box">
        <p class="left_p"><span class="left_p_01">点万家能做什么</span></p>
    </div>
    <div class="panes right_box">
        <div class="pane">
            <p class="right_txt_title">点万家能做什么</p>
            <div class="conment_txt_box">
                <p class="conment_txt">点万家服务号，为你提供身边的吃喝玩乐优惠活动信息，互联网+生活服务，打造线下到店消费一站式消费场景,创建无界连锁经营的新模式，线下消费不仅自省，分享还能赚钱！</p>
            </div>
        </div>
    </div>
    <div class="right_box">

    </div>
</div>
<!-- 尾部 s -->
<footer th:replace="common/common_resource :: common_code"></footer>

<!--尾部 e-->
<div th:replace="common/common_resource :: common_copyright"></div>

<script th:replace="common/common_resource :: common_script"></script>
<script>
    linkClick(3);
</script>

<script th:src="@{js/jquery-1.10.1.min.js}"></script>
<script>
    $('.left_box p').click(function(){
        var index = $(this).index();
        $(this).addClass('active').siblings().removeClass('active');
        $('.panes>div:eq('+$(this).index()+')').show().siblings().hide();
    })
</script>
</body>
</html>
